Package: com.sniper.pvega
Name: Sniper PVE 全球行动
Version: 0.4.1
Architecture: iphoneos-arm64
Description: 全球行动专属(模式门禁:只在全球行动关卡启用)/自动杀怪/封顶500/刷怪5/无限子弹/安全结算
Maintainer: sniper
Author: sniper
Section: Tweaks
